openapi: 3.1.0
info:
  title: Agent-Commerce-OS API
  description: Enterprise-grade, Zero-trust data normalization API for autonomous AI agents. Converts unstructured web data into semantic Markdown or JSON, featuring hallucination countermeasures, Trace ID auditability, and self-correcting error handling. Support the project at [GitHub Sponsors](https://github.com/sponsors/SakuttoWorks)
  version: 1.0.0
  contact:
    name: Sakutto Works
    url: https://sakutto.works
servers:
  - url: https://api.sakutto.works/v1
    description: Production Gateway (Cloudflare Edge)
tags:
  - name: System
    description: System health and preflight checks.
  - name: Data Normalization
    description: Core AI data extraction operations.
paths:
  /normalize_web_data:
    options:
      tags:
        - System
      summary: CORS Preflight & Status Check
      operationId: checkStatus
      responses:
        "200":
          description: OK
        "204":
          description: No Content
    post:
      tags:
        - Data Normalization
      summary: Normalize web content for LLMs
      description: Extracts and normalizes content from a given URL. First 100 requests/month are FREE. Subsequent calls are billed via Polar.sh ($0.10 per call).
      operationId: normalizeWebData
      security:
        - polarBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  format: uri
                format_type:
                  type: string
                  enum: [markdown, json]
                  default: markdown
                fields:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Successfully normalized data with audit metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                  source_url:
                    type: string
                  trace_id:
                    type: string
        "400":
          description: Semantic Error (Agent should self-correct)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentSemanticError"
        "403":
          description: Forbidden - Invalid Key or Prompt Injection.
        "422":
          description: Validation Error.
components:
  securitySchemes:
    polarBearerAuth:
      type: http
      scheme: bearer
      description: "Polar.sh License Key required. [Get API Key here](https://buy.polar.sh/polar_cl_mps3G1hmCTmQWDYYEMY2G1c7sojN3Tul6IhjO4EtVuj)"
  schemas:
    AgentSemanticError:
      type: object
      properties:
        error_type:
          type: string
        message:
          type: string
        agent_instruction:
          type: string
        trace_id:
          type: string
